.container{
    width: 1200px;
    height: 1500px;
    margin:auto;
}
.section-nav{
    width: 100%;
    height:5%;
    background-color: #242B2E;
}
.nav-heading{
    width:30%;
    font-size: 2em;
    color: black;
    text-align: center;
    padding-top: 1%;
    float: left;

}
.nav-menu{
    width: 40%;
    float: left;
}
.lists{
    float: left;
    
   
}
.items{
    float: left;
    margin-top: 3%;
    margin-left: 5%;
}
.items button{
    height: 30px;
    width: 80px;
}
.login{
    padding-top: 2%;
    color: blue;
}
.section-body{
    height: 70%;
    width: 100%;
   
}
.subsection-header{
    border: 2px solid black;
    height: 30%;
    width: 90%;
    margin: auto;
    margin-top: 7%;
}
.heading{
    text-align: center;
    font-size: 3em;
    color: black;
    padding-top: 10%;
}
.paragraph{
    text-align: center;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 1%;
}
.subsection-body{
    height: 80%;
    width: 85%;
    border: 2px solid black;
    margin: auto;
    margin-top: 5%;
}
.subsection{
    width: 60%;
    height: 100%;
    border-right: 2px solid black;
    float: left;
}
.subheading{
    height: 20%;
    font-size: 2em;
    padding-left: 2%;
    padding-right: 15%;
    padding-top: 2%;
}
.subbody{
    height: 70%;
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
}
.subsectbody{
    height: 40%;
    width: 40%;
}

.subsectbody-img{
    height: 100px;
    width:100px;
    width:40%;
    border: 1px solid black;
    border-radius: 25%;
    float: left;
  
}
.subsectbody-details{
    width: 50%;
    float: left;
    padding-left: 5%;
}
.subbody1{
    float: left;
    width: 45%;
    height: 100%;
}
.subbody2{
    float:right;
    width: 45%;
    height: 100%;
}
.subsec{
    width: 30%;
    height: 90%;
    float: left;
}
.subsect-heading{
    height: 5%;
    text-align: center;
    margin-top: 5%;
}
.heading-sub{
    font-size: 3em;
    color: black;
    text-align: center;
    margin-left: 2%;
}
.subheading-para{
    font-size: 20px;
    margin-left: 5%;
    text-align: center;
}
.subsect-list{
    padding-top: 15%;
    padding-left: 5%;
    font-size: 2em;
    
}
.subsect-items{
    padding-bottom: 4%;
}
.event-heading{
    font-size: 3em;
    padding-top: 5%;
    text-align: center;
}
.event-location{
    border: 2px solid black;
    width: 90%;
    height: 200px;
    margin-left: 4%;
    margin-top: 5%;
}
.location-names{
    font-size: 20px;
    border-bottom: 1px solid black;
    padding-top: 10%;
    padding-bottom: 6.5%;
    text-align: center;
}
.section-about{
    height: 15%;
    width: 100%;
    margin-top: 5%;
    float: left;
}
.about-items{
    float: left;
    font-size: 3em;
    color: blue;
    padding-right: 5%;
}
.section-about-link{
    font-size: 30px;
}
.footer{
    height: 5%;
    width: 100%;
    float: left;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.default-link{
    float: left;
    padding-right: 10%;
    padding-top: 3%;
}
.default-site{
    float: right;
    padding-right: 10%;
    margin-right: 10%;
    padding-top: 3%;
    height: 70px;
    width: 30px;
    border: 1px solid black;
  border-radius: 50%;
  padding-top: 2%;
}
.contact-container{
    height: 600px;
    width: 1200px;
    margin: auto;
    
}
.section-nav1{
    height: 10%;
    background-color: #242B2E;
}
.form{
    height: 40%;
    width: 90%;
    margin: auto;
    margin-top: 5%;
}
.form-left{
    width:20% ;
    float: left;
}
.form-right{
    width: 50%;
    float: left;
}
.label{
    padding-bottom: 15%;
}
.value{
    padding-bottom: 5%;
}
